{% extends "base.html" %}

{% block head_title %}
{{ super() }}: cambios
{% endblock %}


{% block page_title %}
Cambio de moneda
{% endblock %}


{% block contenido %}
{{super()}}

<!--
  CRUD: Create, Read, Update, Delete
  GET: read
  POST: create, delete
  PUT: update
 -->
<form class="paper" action="/purchase" method="POST">
  {{ form.csrf_token }}
  <div class="campo-formulario">
    {{ form.moneda_from.label }}
    {{ form.moneda_from }}
    {{ form.moneda_to.label }}
    {{ form.moneda_to }}

  </div>
  <div class="campo-formulario">

    {{ form.cantidad_from.label }}
    {{ form.cantidad_from }}


    {{ form.cantidad_to.label }}
    {{ cantidad_to }}
  </div>
  {{ form.consultar_api }}
  <div class="campo-formulario">
    <h3>
      {{ form.PU.label }}
      <span>
        {{ PU }}

      </span>


    </h3>
  </div>
  {{ form.comprar }}




</form>


{% endblock %}