{% extends "base.html" %}

{% block head_title %}
{{ super() }}: cambios
{% endblock %}


{% block page_title %}
Cambio de moneda
{% endblock %}


{% block contenido %}
{{super()}}

<!--
  CRUD: Create, Read, Update, Delete
  GET: read
  POST: create, delete
  PUT: update
 -->
<form action="/purchase" method="POST">
  {{ form.csrf_token }}
  <table class="paper">
    <tr>
      <th>
        {{ form.moneda_from.label }}
      </th>
      <td>
        {{ form.moneda_from }}
      </td>
      <th>
        {{ form.moneda_to.label }}
      </th>
      <td>
        {{ form.moneda_to }}
      </td>
    </tr>
    <tr>
      <th>
        {{ form.cantidad_from.label }}
      </th>
      <td>
        {{ form.cantidad_from }}
      </td>
      <th>
        {{ form.cantidad_to.label }}
      </th>
      <td>
        {{ cantidad_to }}
      </td>
    </tr>
    <tr>
      <th>
        {{ form.PU.label }}

      </th>
      <td>
        {{ PU }}
      </td>
    </tr>
    <tr>
      <th>
        {{ form.consultar_api }}

      </th>
      <th colspan="2">
        {{ form.comprar }}
      </th>
    </tr>
    <!-- {% if mov.errores %}
    <tr>
      <td colspan="4" class="error">
        {% for error in form.errores %}
        {{ error }}.
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% else %}
    <tr> -->
  </table>

</form>


{% endblock %}