{% extends "base.html" %}

{% block head_title %}
{{ super() }}: cambios
{% endblock %}


{% block page_title %}
Estado de inversion
{% endblock %}


{% block contenido %}
{{super()}}
<div>

  <form action="/status" method="post">
    {{ form.csrf_token }}
    <div>

      <table class="paper">
        <tr>
          <th class="titulo-tabla moneda">Euros invertidos</th>
          <th class="titulo-tabla numero">Valor actual</th>
        </tr>
        <tr>

          <td class="numerostatus">{{ "{:,.4f}".format(mov) }}</td>
          <td class="moneda">{{ "{:,.4f}".format(cantidad) }}</td>
    </div>
    <br>
    {{ form.consultar }}
  </form>
</div>
</tr>
{% endblock %}